@tailwind base;
@tailwind components;
@tailwind utilities;

.jodit-wysiwyg{
    min-height: 100px !important;
}


.galley-hero{
    background: linear-gradient( #00000009 ,#036a29ba), url("https://i.ibb.co.com/ZXKKYRv/gallery.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.home-hero{
    background: linear-gradient( #02701277 ,#000000b5), url("../../public/herobg.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

