@tailwind base;
@tailwind components;
@tailwind utilities;

.jodit-wysiwyg{
    min-height: 100px !important;
}

header{
    max-width: 100% !important;
    padding: 0 !important;
}

.galley-hero{
    background: linear-gradient( #00000009 ,#036a29ba), url("https://i.ibb.co.com/ZXKKYRv/gallery.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.home-hero{
    background: linear-gradient( #03c12068 ,#1d7a0172), url("../../public/herobg.jpg");
    /* background: url("../../public/herobg.jpg"); */
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.featured-section{
    /* background: linear-gradient( #03c12029 ,#1d7a01b5), url("../../public/featured.jpg"); */
    background: url("../../public/featured.jpg");
    background-attachment: fixed;
    background-size: 100% 100%;
}